
:root{

}

.invalid
{
  border: 2px solid red !important;
}

.app-main{
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #1f3832 !important;
}

:host ::ng-deep .p-menubar {
  background-color: #178a69;
  border-radius: 0;
  gap: 10px;
  border-bottom: 1px solid white;
}

:host ::ng-deep .p-menuitem {
  background-color: #178a69 !important ;
}

:host ::ng-deep .p-menuitem-link{
  padding: 1rem;
}

:host ::ng-deep .p-menubar-root-list{
  padding: 10px;
  gap: 1rem;
}

:host ::ng-deep .p-element {
  border-radius: 1rem;
}

:host ::ng-deep .p-card{
  border-radius: 10px ;
  overflow: hidden ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
  background-color: rgba(0, 0,0, 0.33);
}

:host ::ng-deep .p-card-header {
  aspect-ratio: 4/6;
} :host ::ng-deep .p-card-header img {
  object-fit: cover;
} :host ::ng-deep .p-card-header :first-child {
  height: 100%;
}

